<%- include('partials/header') %>

<div class="map-container">
  <div id="search-bar" class="search-bar">
    <input id="search-input" type="text" placeholder="Lieu ou coordonnées..." autocomplete="off">
    <div id="search-results" class="search-results"></div>
  </div>
  <div id="map"></div>
</div>

<script src="/js/map.js"></script>
<%- include('partials/footer') %>
